@model IEnumerable<VentadeTaquillas.Data.Publicacion>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/inicio.css" />


@foreach (var item in Model)
{

    string comple = item.NombrePubliPeli + " " + item.Evento;

<article class="post clearfix">
    <a asp-controller="Peliculas" asp-action="Details" asp-route-id="@item.PeliculaId" style='float:left' class="thumb">
        @if (item.ImagenPubliPeli != null)
        {
            var base64 = Convert.ToBase64String(item.ImagenPubliPeli);
            var img = string.Format("data:image/jpg;base64,{0}", base64);

            <img class="img-thumbnail" src="@img" alt="" />
        }
        </a>
    <h2 class="post-title">
        <a asp-controller="Peliculas" asp-action="Details" asp-route-id="@item.PeliculaId">@comple</a>
    </h2>
    <p><span class="post-fecha">@item.FechaPeli.ToString("dd/MM/yyyy")</span></p>
    <p class="post-contenido text-justify">
        @item.Descripcion

    </p>
    <div class="contenedor-botones">
        <a class="btn btn-primary" asp-controller="Clientes" asp-action="Create" asp-route-id="@item.PeliculaId">Comprar Taquilla</a>
    </div>
</article>

}
