@model IEnumerable<VentadeTaquillas.Data.Publicacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePubliPeli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenPubliPeli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPeli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePubliPeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenPubliPeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPeli)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
