@model VentadeTaquillas.Data.Taquilla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taquilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeliculaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeliculaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CineId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaquillaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
