@model IEnumerable<VentadeTaquillas.ViewModels.ViewModelTaquilla>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Reporte de Taquillas Compradas</h1><hr /><br />

<table class="table">
    <thead class="bg-primary">
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Pelicula
            </th>
            <th>
                Cine
            </th>
            <th>
                Sala
            </th>
            <th>
                Asiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre) @Html.DisplayFor(modelItem => item.ClienteApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeliculaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CineNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaNombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AsientoNombre)
            </td>
        </tr>
}
    </tbody>
</table>
