@model VentadeTaquillas.Data.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles de la Pelicula</h1><br />

<div class="row">
    <div class="col-3">
        <div>


            @if (Model.ImagenPeli != null)
            {

                var base64 = Convert.ToBase64String(Model.ImagenPeli);
                var img = string.Format("data:image/jpg;base64,{0}", base64);

                <img class="img-thumbnail" width="250px" src="@img" alt="" />



            }


        </div>
    </div>

    <div class="col">
        <a style="float:right" class="btn btn-primary" asp-controller="Clientes" asp-action="Create" asp-route-id="@Model.PeliculaId">Trailer</a>
        <div>
            <h3>@Html.DisplayFor(model => model.NombrePeli)</h3>

        </div>
        <hr />

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                       <strong>Descripcion:</strong>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Descripcion)
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-3">
                       <strong>Valor en Taquilla:</strong>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Valor)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">
                        <strong>Fecha de Lanzamiento:</strong>
                    </div>
                    <div class="col">
                        @Model.FechaPeli.ToString("dd/MM/yyyy")
                    </div>
                </div>

                </div>
            </div>

    </div>
    </div><br />

<div>
   
    <a style="float:right" class="btn btn-primary" asp-controller="Clientes" asp-action="Create" asp-route-id="@Model.PeliculaId">Comprar Taquilla</a>
     
</div>          
<div style="float:left"><a asp-controller="Publicacions" class="btn btn-dark" asp-action="Index">Volver al Inicio</a></div>


