@model VentadeTaquillas.Data.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePeli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePeli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenPeli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagenPeli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPeli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPeli)
        </dd>
    </dl>
</div>
<div>
   
    <a class="btn btn-primary" asp-controller="Clientes" asp-action="Create" asp-route-id="@Model.PeliculaId">Comprar Taquilla</a> |
      
    <a asp-controller="Home" class="btn btn-dark" asp-action="Index">Volver al Inicio</a>
</div>
