@model IEnumerable<VentadeTaquillas.Data.Cine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
